body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    background:white;
    padding:40px;
    width:350px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    text-align:center;
}

.login-box h1{
    margin-bottom:10px;
    color:#203a43;
}

.login-box p{
    color:gray;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#203a43;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2c5364;
}

#msg{
    color:red;
}
/* Dashboard */

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:230px;
    background:#1a252f;
    color:white;
    padding:25px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
}

.sidebar a:hover{
    background:#34495e;
}

.main-content{
    flex:1;
    padding:40px;
    background:#f4f6f8;
}

.cards{
    display:flex;
    gap:20px;
    margin-top:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:14px;
    width:180px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}

.info-box{
    background:white;
    padding:25px;
    border-radius:14px;
    margin-top:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
.form-box{
    background:white;
    padding:30px;
    border-radius:15px;
    width:450px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

select, textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

#response{
    margin-top:15px;
    color:green;
    font-weight:bold;
}
table{
width:100%;
background:white;
border-collapse:collapse;
border-radius:12px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

th,td{
padding:15px;
border-bottom:1px solid #ddd;
text-align:left;
}

th{
background:#203a43;
color:white;
}

tr:hover{
background:#f1f1f1;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.popup-box{
background:white;
width:320px;
padding:30px;
border-radius:15px;
text-align:center;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.popup-box button{
margin-top:15px;
}
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.hero-box{
margin-top:25px;
background:linear-gradient(135deg,#203a43,#2c5364);
color:white;
padding:30px;
border-radius:18px;
}

.hero-box button{
width:auto;
padding:12px 25px;
margin-top:10px;
background:white;
color:#203a43;
font-weight:bold;
}

.hero-box button:hover{
background:#eee;
}

.demo-text{
font-size:13px;
color:gray;
margin-bottom:15px;
}
